*{
    box-sizing: border-box;
}
.tooltip {
    position: relative;
    display: inline-block;
    margin: 60px;
    padding: 10px;
    background-color: #ddd;
}
.tooltip:hover{
    background-color: #f00;
    color: #fff;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: black;
    color: white;
    width: 115%;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    bottom: 175%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
}

.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}
.tooltip:hover:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-color: #000  transparent transparent transparent;
    left: calc(50% - 25px);
    bottom: 0;
    z-index: -1;
    transition: all 0.9s;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
}